events {
  worker_connections 128;
  multi_accept on;
}

http {

    server {
        listen 80;
        server_name localhost;

        # HTTP Basic auth
        auth_basic "Login required";
        auth_basic_user_file /etc/nginx/.htpasswd;

        # Forward to Mlflow
        location / {
            proxy_pass http://0.0.0.0:5000;
        }
    }

}
